@font-face {
font-family: Calaboose;
src: url("css/fonts/calabooseDEMO.otf") format("opentype");
}

body {
    background: #333333;
}
.shell {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    height: 400px;
}
.nav {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 60px;
    background: #000080;
    font-family: Calaboose;
}
.content {
    height: 1000px;
    background: #BBBBBB;
}
.footer {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 200px;
    background: #000080;
}
